h6 {
  font-family: 'Poppins';
  font-weight: 600;
}

body {
  text-align: center;
  margin: auto;
  font-family: 'Roboto';
}
.overlay {
  /* position: absolute; */
  /* background-color : #526355; */
  background: linear-gradient(125deg,#FFE8D6, #D67474);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
  color : white;
  height: 100%;
  width: 100%;
  
  /* display: flex;
  justify-content: center;
  align-content: center; */
  flex-flow: wrap;
}
.container {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-flow: wrap;
  padding-top: 200px;
}
.heading, .subheading, .body-container {
  width: 100%;
  justify-content: center;
  color: white;

}
.heading {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
}
.subheading {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 90px;
  margin-bottom: 40px;
}
.body-container {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  display: flex;
  /* max-width: 600px; */
}
.body-text {
  max-width: 600px;
}
#globe {
  /* margin: 20px auto;
  margin-top: 50px; */
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  /* position: fixed; */
}
#globe path {

}
svg {
  display: block;
  /* width: 100% */
}
svg .country {
  fill: #aaa;
  stroke: #ddd;
  stroke-width: 0.5px;
}
svg .country:hover {
  stroke: rgb(231, 151, 165);
  stroke-width: 5px;
  cursor: pointer;
}
.block {
  /* margin: 10px 50px; */
  display: flex; /* required */
  flex-flow: row nowrap; /* required */
  overflow: hidden;

}
.block .background,
.block .foreground {
  box-sizing: border-box; /* required */
  width: 100%; /* required */
  height: 100vh;
  min-height: 100vh;
  /* position: relative; */
  flex: none; /* required */

}
.block .background {
  /* position: fixed; */
  /* bottom: 0; */
  margin-left: -100%; /* required */
}
.reveal-main{
  height: 400px;
  background:#e3e3e3;
}
#arrow-down {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 250px;
  max-width: 60px;
  cursor: pointer;
}
#arrow-down:hover {
  /* box-shadow: 0px 0px 5px #fff; */
}
.hidden {
  display: none;
}
#markers path {
  fill: red;
  stroke: #ddd;
  stroke-width: 2.5;
}